.delivery-zones {
  background: linear-gradient(to right, #ffee9f, #fdf1b8);
  width: 100%;
  padding: 100px 100px;

  position: relative;
  z-index: 2;

  box-shadow:
    0 -5px 40px rgba(0, 0, 0, 0.1),
    0 5px 40px rgba(0, 0, 0, 0.1);

  font-family: "Open Sans", sans-serif;
}

.delivery-zones__inner {
  max-width: 1400px;
  margin: 0 auto;
}

.delivery-zones h2 {
  font-size: clamp(35px, 5vw, 50px);
  font-weight: 800;
  margin-bottom: 30px;
}

.zones {
  padding: 100px;
  background: transparent; /* ⬅️ OVO JE KLJUČ */
}

.zone {
  margin-bottom: 25px;
  transition: transform 0.4s ease;
}

.zone h3 {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 700;
  margin-bottom: 5px;
}

.zone p {
  font-size: clamp(15px, 4vw, 18px);
  font-weight: 500;
  margin: 0;
}

.zone:hover {
  transform: scale(1.015);
}

.highlight {
  animation: zoneHighlight 0.7s ease forwards;
}

@keyframes zoneHighlight {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
