.contact {
  width: 100%;

  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: linear-gradient(to right, #ffee9f, #fdf1b8);

  position: relative;
  z-index: 2;

  box-shadow:
    0 -5px 40px rgba(0, 0, 0, 0.1),
    0 5px 40px rgba(0, 0, 0, 0.1);

  cursor: default;
}

.contact__text {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.contact__phone {
  font-size: 80px;
  font-weight: 800;
  margin: -20px 0;
  transition: transform 0.3s ease;
}

.contact__phone:hover {
  transform: scale(1.05);
}

.contact__socials {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.contact__socials img {
  width: 45px;
  transition: transform 0.3s ease;
}

.contact__socials img:hover {
  transform: scale(1.3);
}
