.contact {
  width: 100%;
  height: 100px;

  background: linear-gradient(to right, #ffee9f, #fdf1b8);

  position: relative;
  z-index: 2;

  box-shadow:
    0 -5px 40px rgba(0, 0, 0, 0.1),
    0 5px 40px rgba(0, 0, 0, 0.1);
}
