.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1001;

  padding: 20px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
}

.header__btn {
  padding: 10px 22px;
  border: none;
  border-radius: 999px;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  
  background: #142127;
  color: #ffeea0;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__btn:hover {
  background: #1f2d33;
}
