footer {
  position: relative;
  z-index: 1000;
}

.footer-bottom {
  background-color: var(--brand-accent);
  color: var(--brand-neutral);
  font-size: 14px;
  font-weight: 400;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
