.blank-gradient {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.blank-gradient.primary {
  background: linear-gradient(120deg, #ffb60f, #ffd94d, #ffb60f);
  background-size: 300% 300%;
  animation: gradientShift 10s ease infinite;
}

.blank-gradient.secondary {
  background: linear-gradient(to right, #ffee9f, #fdf1b8);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
